.Sidebar {
  position: relative;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background-color: var(--inverted-bg-color);
  transition: width .3s;

  &.collapsed {
    width: var(--sidebar-width-collapsed);
  }
}

.switchers {
  position: absolute;
  width: 100%;
  bottom: 1.2rem;
  display: flex;
  justify-content: center;
}

.lang {
  margin-left: 1.2rem;
}
