@import 'reset';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';
@import 'reset';

.app {
  background: var(--bg-color);
  font: var(--font-m);
  color: var(--primary-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
  flex-wrap: wrap;
}

.page-wrapper {
  flex-grow: 1;
  padding: 1.2rem;
}
