@import 'reset';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';
@import 'reset';

.app {
  background: var(--bg-color);
  font: var(--font-m);
  color: var(--primary-color);
  min-height: 100vh;
}
